    * {
        margin: 0;
        padding: 0;
        list-style: none;
        box-sizing: border-box;
        text-decoration: none;
    }
    
    .swiper {
        width: 100%;
        height: 100vh;
    }
    
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    
    .swiper-slide:nth-child(1) {
        z-index: 99;
    }
    
    .swiper-slide:nth-child(2) {
        z-index: 99;
    }
    
    .swiper-slide:nth-child(2) {
        z-index: 98;
    }
    
    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
    }
    
    .swiper {
        margin-left: auto;
        margin-right: auto;
    }
    
    .slide-two {
        position: relative;
        z-index: 999;
        background-color: #fff;
    }
    
    .position-relative {
        position: relative;
        min-width: 2025px;
        height: clamp(1024px, 100%, 100%);
        overflow: hidden;
        z-index: 10;
    }
    
    .image {
        height: 100%;
        width: 100%;
        position: relative;
        z-index: 2;
    }
    
    .first {
        position: absolute;
        left: clamp(50%, 52%, 54%);
        top: 34%;
    }
    
    .second {
        position: absolute;
        left: clamp(58%, 59%, 60%);
        top: 32%;
    }
    
    .click {
        position: absolute;
        width: clamp(40px, 35px, 30px);
        height: clamp(40px, 35px, 30px);
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.5);
        z-index: 5;
        cursor: pointer;
    }
    
    .info {
        position: absolute;
        right: 18px;
        bottom: 60px;
        background-color: white;
        width: 300px;
        height: 150px;
        z-index: 5;
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
        padding: 10px 15px;
        display: none;
    }
    
    .info-title {
        margin-bottom: 10px;
        font-size: 20px;
    }
    
    .show::before {
        content: "";
        width: 64px;
        height: 2px;
        background-color: white;
        position: absolute;
        right: -48px;
        bottom: -17px;
        z-index: 4;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
        animation: 1s ease-in slidein;
        -webkit-animation: 1s ease-in slidein;
    }
    
    .show.animation::after {
        content: "";
        height: 42px;
        width: 2px;
        background-color: white;
        position: absolute;
        right: -40px;
        top: 188px;
        z-index: 3;
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
        animation: 1s ease-out slidein2;
        -webkit-animation: 1s ease-out slidein2;
    }
    
    @keyframes slidein {
        from {
            width: 0;
            right: 0;
            bottom: 0;
        }
        to {
            width: 64px;
            right: -48px;
            bottom: -17px;
        }
    }
    
    @keyframes slidein2 {
        from {
            right: -40px;
            top: 188px;
            height: 0;
        }
        to {
            height: 42px;
        }
    }